.Input{

    border-radius: 12px;

}

.Imagelogin{

    position: static;
    width: 335.2px;
    height: 317.91px;
    margin-top: 100px;


    background: url(../img/login.png);
    transform: rotate(0.36deg);

}

.divLogin {

position:static;
padding: 20px;
margin-top: 60px;
margin-bottom: 600px;
padding-left: 40px;
padding-right: 40px;

padding-bottom: 100px;
padding-top: 100px;
background: #F1F1F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.center{

    

	
	position: static;
	top:0;
	bottom: 0;

  	
	margin: auto;
}

.url{

color: darkcyan;

}

a:link, a:visited {
    margin-top: 5px;
    margin-left: 167px;
    color: black;
    text-decoration: underline;
    cursor: auto;
  }
  
  